/*Login*/
.Login{
  text-align: center;
  background-color: #1A1A72;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login h1{
  text-align: center;
}
.Login input{
  border: none;
  border-bottom: 2px solid black;
}
.card {
  padding: 30px;
  background-color: #2C2C72;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/* signup */
.Signup {
  text-align: center;
  background-color: #1A1A72;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Signup input{
  border: none;
  border-bottom: 2px solid black;
}
.card1 {
  background-color: #2C2C72;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}
/*Header*/

.new{
  color: white;
}
/*sidenvar*/
.side{
  background-color:#262626;
  color: white;
  height: 100%;
  position: fixed;

}
/*.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 16%;
}*/
.side ul li{
  list-style-type: none;
  margin-bottom: 50px;
}
.good{
  background-color: #141414;
  color: white;
}
/*.Application{
  background-color: #141414;
  color: white;
}
.messages{
  background-color: #141414;
  color: white;
}
.statics{
  background-color: #141414;
  color: white;
}
.news{
  background-color: #141414;
  color: white;
}*/
.nav{
  color: white;
}
/* 404 error */
.Data h1{
  text-align: center;
  margin-top: 300px;
}
.mobile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.mobile img{
  height: 500px;
  width: 500px;
}
.ref{
  display: flex;
  flex-wrap: wrap;  
}
.ref img{
  height: 800px;
  width: 500px;
}
/*Dashboard*/
.SliceMobile{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border: solid #141414;
}
.SliceMobile img{
  height: 200px;
  width: 250px;
}
.SliceMobile button{
  margin: 50px;
}
.SliceLaptop{
  display: flex;
  flex-wrap: wrap;
  border: solid #141414;
  margin-top:30px ;
}
.SliceLaptop img{
  height: 300px;
  width: 250px;
}
.SliceLaptop button{
  margin: 50px;
}
.SliceEarbuds{
  display: flex;
  flex-wrap: wrap;
  border: solid #141414;
  margin-top:30px ;
}
.SliceEarbuds img{
  height: 300px;
  width: 250px;
}
.SliceEarbuds button{
  margin: 50px; 
}
.SliceRefrigerators{
  display: flex;
  flex-wrap: wrap;
  border: solid #141414;
  margin-top:30px ;
  
}
.SliceRefrigerators img{
  height: 500px;
  width: 250px;
  
}
.SliceRefrigerators button{
  margin: 50px; 
}
.SliceTv{
  display: flex;
  flex-wrap: wrap;
  border: solid #141414;
  margin-top:30px ;
}
.SliceTv img{
  height: 300px;
  width: 250px;
}
.SliceTv button{
  margin: 50px; 
}
.profie{
  text-align: center;
  margin-top: 150px;
  border: 2px solid black;
  border-radius: 2650px;
  margin: 140px;

}