/*Login*/
.Login{
  text-align: center;
  background-color: #1A1A72;
  color: white;
  height: 100vh;
}
.Login h1{
  text-align: center;
}
.Login input{
  border: none;
  border-bottom: 2px solid black;
}
/* signup */
.Signup{
  text-align: center;
  margin-top: 300px;
}
.Signup input{
  border: none;
  border-bottom: 2px solid black;
}
/*Header*/
.Header{
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
justify-content: space-around;
}
.Header  li{
  
  list-style-type: none;
}
/*sidenvar*/
.side{
  background-color:#262626;
  color: white;
  height: 100vh;
}
.side ul li{
  list-style-type: none;
  margin-bottom: 50px;
}
.good{
  background-color: #141414;
  color: white;
}
/*.Application{
  background-color: #141414;
  color: white;
}
.messages{
  background-color: #141414;
  color: white;
}
.statics{
  background-color: #141414;
  color: white;
}
.news{
  background-color: #141414;
  color: white;
}*/
