/*header*/
.Header{
  background-color: black;
  color: white;
  height: 100vh;
  padding: 5%;
}
/* About*/
.About{
  background-color: aqua;
  padding: 100px;
  height: 100vh;
}
h1{
  text-align: center;
}
/*Services*/
.Service{
  background-color: rgb(255, 174, 0);
  padding: 100px;
  height: 100vh;
}
/*Contact*/
.Contact{
  background-color: aqua;
  padding: 100px;
  height: 100vh;
}
